.toursModal {
  animation: moveInBottom .5s ease;
  background-color: rgba($color-black, 0.9);
  height: 100vh;
  width: 100vw;
  z-index: 6;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &_baseLayout {
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 3px;
    width: 80%;
    margin: 0 auto;
    background-color: rgba($color-white, 0.95);
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    z-index: 7;

    @include respond(tab-land) {
      width: 95%;
    }

    @include respond(phone) {
      height: 95vh;
    }

    @include respond(minimun-phone) {
      grid-template-rows: 1fr 1fr;
      grid-template-columns: none;
    }
  }

  &_photos {
    position: relative;
    display: flex;
    flex-direction: column;

    @include respond(minimun-phone) {
     align-items: center;
     order: 2;
     padding-bottom: 5px;
    }

    &_layout {
      position: inherit;
      width: 100%;
      height: 100%;

      @include respond(phone) {
        width: 90%;
      }
    }
  }

  &_off {
    display: none;
  }
}

.content {
  display: flex;
  flex-direction: column;
  padding: 6rem;
  position: relative;
  justify-content: center;
  gap: 2rem;

  @include respond(tab-land) {
    padding: 4rem;
  }

  @include respond(phone) {
    padding: 2rem;
    gap: 1rem;
  }

  @include respond(minimun-phone) {
    order: 1;
  }

  &_button {
    border: none;
    position: absolute;
    right: 3rem;
    top: 3rem;
    background-color: transparent;
    cursor: pointer;
    padding: .5rem;
    transition: all .2s;
    border-radius: 50%;

    &:hover {
      background-color: #ddd;
    }

    @include respond(minimun-phone) {
      right: 1rem;
      top: 1rem;
    }
  }

  &_paragraph {
    color: $color-grey-dark-3;
  }

  &_info {
    color: $color-grey-dark;
    font-weight: bold;
    gap: 1.5rem;
    display: flex;
    font-size: $default-font-size;

    @include respond(tab-land) {
      flex-direction: column;
    }

    &_detail {
      padding-right: 10px;
      border-right: 1px solid #ddd;

      @include respond(tab-land) {
       border: none;
      }
    }
  }

  &_cta {
    align-self: flex-start;

    @include respond(minimun-phone) {
      align-self: center;
    }
  }
}