.uCenterText {
  text-align: center;
}

.uMarginBottomSmaller {
  margin-bottom: 1rem;
}

.uMarginBottomSmall {
  margin-bottom: 2rem;
}

.uMarginBottomMedium {
  margin-bottom: 4rem;
}

.uMarginBottomBig {
  margin-bottom: 8rem;
}

.uMarginTop {
  margin-top: 8rem;
}

.uMarginTopMedium {
  margin-top: 4rem;
}
