.footer {
  background-color: $color-grey-dark-3;
  padding: 15rem 0;
  font-size: 1.4rem;

  &_logoBox {
    position: relative;
    height: 12rem;
    margin-bottom: 6rem;
  }

  &_bottom {
    display: flex;
    justify-content: space-around;
  }
  
  &_navigation {
    padding-top: 3rem;
    border-top: 1px solid $color-grey-dark;
    font-weight: bold;
  }

  &_list {
    list-style: none;
    display: flex;
    gap: 1.5rem;
  }

  &_copyright { 
    padding-top: 3rem;
    color: $color-grey-dark-2;
    border-top: 1px solid $color-grey-dark;
  }

  &_link {
    &:link,
    &:visited {
      color: $color-grey-light-1;
      text-decoration: none;
      text-transform: uppercase;
    }

    &:hover, 
    &:active {
      color: $color-primary;
      box-shadow: 0 1rem 2rem rgba($color-black, .8);
    }
  }
}