// .story-container {
//   display: flex;
//   justify-content: center;
// }

.story {
  margin: 0 auto;
  width: 75%;
  // display: flex;
  background-color: rgba($color-white, .6);
  box-shadow: 0 3rem 6rem rgba($color-black, .1);
  padding: 6rem;
  padding-left: 9rem;
  border-radius: 5px;
  font-size: $default-font-size;
  transform: skewX(-12deg);

  &__shape {
    content: "";
    float: left;
    // flex: 0 0 15rem;
    width: 15rem;
    height: 15rem;
    -webkit-shape-outside: content-box circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative;
  }

  &__img {
    height: 100%;
    backface-visibility: hidden;
    transform: translateX(-4rem) scale(1.4);
    transition: all .5s;
  }

  &__text {
    backface-visibility: hidden;
    transform: skewX(12deg);
  }

  &__caption {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: $color-white;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    transition: all .5s;
    backface-visibility: hidden;
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &:hover &__img {
    filter: blur(3px) brightness(90%);
    transform: translateX(-4rem) scale(1);
  }
}

@mixin respond-phone {
  @media (max-width: 900px) { @content };
}

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 600px) { @content };
  }
  @if $breakpoint == tab-port {
    @media (max-width: 900px) { @content };
  }
  @if $breakpoint == tab-land {
    @media (max-width: 1200px) { @content };
  }
  @if $breakpoint == big-desktop {
    @media (min-width: 1800px) { @content };
  }
}